/*CSS Reset*/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Google Font*/

body {
    font-family: 'Roboto Mono', monospace;
}



/*Navigation Bar*/

nav {
    padding: 0.8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
}

nav .nav-logo,nav .nav {
    margin: 0.5rem;
    display: inline;
}


#intro{
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center; 
}

#intro h2, #intro p {
    margin-bottom: 1rem;

}

#intro button{
    font-weight: bold;
    background-color: pink;
    border-radius: 40px;
    font-size: 1rem;
    padding: 1rem;
    color: white;

}


#succeed-info {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center; 

}

#succeed-info h2{
    margin-bottom: 1rem;

}

#succeed-info h3{
    text-align: center;
    margin-bottom: 1rem;

}

#succeed-info .card {
    display: inline-block;
    vertical-align: top;
    min-height: 150px;
    width: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

/*#pre-footer .card1{
    display: inline-grid;
    vertical-align: top;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    background-color: #002540;
    color: white;
 
    
}*/
